<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{appointment.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{appointment.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/appointments}" class="btn btn-secondary">[[#{appointment.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('appointment')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='appointment', field='id', disabled=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='appointment', field='subject', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='appointment', field='startTime', required=true, inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='appointment', field='endTime', required=true, inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='appointment', field='local')}" />
                <div th:replace="~{fragments/forms::inputRow(object='appointment', field='notes', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='appointment', field='type', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='appointment', field='church', type='select')}" />
                <input type="submit" th:value="#{appointment.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
