<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{appointment.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{appointment.list.headline}]]</h1>
                <div>
                    <a th:href="@{/appointments/add}" class="btn btn-primary ms-2">[[#{appointment.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${appointments.empty}">[[#{appointment.list.empty}]]</div>
            <div th:if="${!appointments.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{appointment.id.label}]]</th>
                            <th scope="col">[[#{appointment.subject.label}]]</th>
                            <th scope="col">[[#{appointment.startTime.label}]]</th>
                            <th scope="col">[[#{appointment.endTime.label}]]</th>
                            <th scope="col">[[#{appointment.local.label}]]</th>
                            <th scope="col">[[#{appointment.type.label}]]</th>
                            <th scope="col">[[#{appointment.church.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="appointment : ${appointments}">
                            <td>[[${appointment.id}]]</td>
                            <td>[[${appointment.subject}]]</td>
                            <td>[[${appointment.startTime}]]</td>
                            <td>[[${appointment.endTime}]]</td>
                            <td>[[${appointment.local}]]</td>
                            <td>[[${appointment.type}]]</td>
                            <td>[[${appointment.church}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/appointments/edit/{id}(id=${appointment.id})}" class="btn btn-sm btn-secondary">[[#{appointment.list.edit}]]</a>
                                    <form th:action="@{/appointments/delete/{id}(id=${appointment.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{appointment.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
