<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{plan.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{plan.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/plans}" class="btn btn-secondary">[[#{plan.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('plan')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='plan', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='plan', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='plan', field='price', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='plan', field='description', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='plan', field='features', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='plan', field='renewalPeriod', required=true, type='number')}" />
                <input type="submit" th:value="#{plan.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
