<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{group.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{group.add.headline}]]</h1>
                <div>
                    <a th:href="@{/groups}" class="btn btn-secondary">[[#{group.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('group')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='group', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='group', field='description', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='group', field='establishedDate', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='group', field='type', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='group', field='church', type='select')}" />
                <input type="submit" th:value="#{group.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
