<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{member.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{member.list.headline}]]</h1>
                <div>
                    <a th:href="@{/members/add}" class="btn btn-primary ms-2">[[#{member.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${members.empty}">[[#{member.list.empty}]]</div>
            <div th:if="${!members.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{member.id.label}]]</th>
                            <th scope="col">[[#{member.fullName.label}]]</th>
                            <th scope="col">[[#{member.phone.label}]]</th>
                            <th scope="col">[[#{member.email.label}]]</th>
                            <th scope="col">[[#{member.address.label}]]</th>
                            <th scope="col">[[#{member.city.label}]]</th>
                            <th scope="col">[[#{member.postalCode.label}]]</th>
                            <th scope="col">[[#{member.birthCity.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="member : ${members}">
                            <td>[[${member.id}]]</td>
                            <td>[[${member.fullName}]]</td>
                            <td>[[${member.phone}]]</td>
                            <td>[[${member.email}]]</td>
                            <td>[[${member.address}]]</td>
                            <td>[[${member.city}]]</td>
                            <td>[[${member.postalCode}]]</td>
                            <td>[[${member.birthCity}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/members/edit/{id}(id=${member.id})}" class="btn btn-sm btn-secondary">[[#{member.list.edit}]]</a>
                                    <form th:action="@{/members/delete/{id}(id=${member.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{member.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
