<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{hymn.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{hymn.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/hymns}" class="btn btn-secondary">[[#{hymn.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('hymn')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='hymn', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hymn', field='title', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='hymn', field='lyricsAuthor')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hymn', field='musicAuthor')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hymn', field='hymnary')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hymn', field='hymnNumber', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hymn', field='link')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hymn', field='tone')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hymn', field='lyrics', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='hymn', field='church', type='select')}" />
                <input type="submit" th:value="#{hymn.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
