<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{church.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{church.add.headline}]]</h1>
                <div>
                    <a th:href="@{/churches}" class="btn btn-secondary">[[#{church.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('church')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='church', field='cnpj', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='church', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='church', field='abbreviation')}" />
                <div th:replace="~{fragments/forms::inputRow(object='church', field='presbitery')}" />
                <div th:replace="~{fragments/forms::inputRow(object='church', field='city')}" />
                <div th:replace="~{fragments/forms::inputRow(object='church', field='state')}" />
                <div th:replace="~{fragments/forms::inputRow(object='church', field='address')}" />
                <div th:replace="~{fragments/forms::inputRow(object='church', field='status', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='church', field='about', type='textarea')}" />
                <input type="submit" th:value="#{church.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
