<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{expense.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{expense.list.headline}]]</h1>
                <div>
                    <a th:href="@{/expenses/add}" class="btn btn-primary ms-2">[[#{expense.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${expenses.empty}">[[#{expense.list.empty}]]</div>
            <div th:if="${!expenses.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{expense.id.label}]]</th>
                            <th scope="col">[[#{expense.description.label}]]</th>
                            <th scope="col">[[#{expense.amount.label}]]</th>
                            <th scope="col">[[#{expense.date.label}]]</th>
                            <th scope="col">[[#{expense.paymentMethod.label}]]</th>
                            <th scope="col">[[#{expense.supplierOrClient.label}]]</th>
                            <th scope="col">[[#{expense.invoice.label}]]</th>
                            <th scope="col">[[#{expense.category.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="expense : ${expenses}">
                            <td>[[${expense.id}]]</td>
                            <td>[[${expense.description}]]</td>
                            <td>[[${expense.amount}]]</td>
                            <td>[[${expense.date}]]</td>
                            <td>[[${expense.paymentMethod}]]</td>
                            <td>[[${expense.supplierOrClient}]]</td>
                            <td>[[${expense.invoice}]]</td>
                            <td>[[${expense.category}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/expenses/edit/{id}(id=${expense.id})}" class="btn btn-sm btn-secondary">[[#{expense.list.edit}]]</a>
                                    <form th:action="@{/expenses/delete/{id}(id=${expense.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{expense.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
